@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Bold.woff2') format('woff2'),
        url('BaiJamjuree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Medium.woff2') format('woff2'),
        url('BaiJamjuree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

